.panel,
.panel .panel-heading {
	border-radius: 0 !important;
}
.panel-chat {
	background: #1EB4D2;
	color: #fff;
}
.media1 {
	border-bottom: 1px solid #ccc;
	padding: 5px 15px;
	cursor: pointer;
}
input.form-control,
input[type=text] {
	box-shadow: none !important;
}
.btnCls {
	border-radius: 0px !important;
	margin: 0;
	height: 37px;
}
.chatCls .panel-body {
	padding: 0px;
}
.media1:hover{
	background: #F0F8B4;
}

.rightPos{
    position: relative !important;
    left: calc(100% - 50px) !important;
}
.col-md-9.col-lg-9{
  border: 1px solid #555;
}
.people-list{
	background: #ffffff;
  border-right: 1px solid #555;
}
.people-list .search {
  padding: 10px 0 0px 10px;
}
.people-list input {
  
  border: none;
  padding: 6px;
  color: white;
  background: #eeeeee;
  width: 91%;
  font-size: 14px;
  margin-left: 5px;
  padding-right: 30px;
}
.people-list .fa-search {
  position: relative;
  color: white;
  left: -25px;
}
.people-list ul {
  padding: 0 11px 0 10px;
list-style: none;
}
.people-list ul li {
	padding: 10px 0;
    border-bottom: 1px solid;
}
.people-list img {
  float: left;
}
.people-list .about {

  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
  width: 100%;
}
.people-list .status {
  color: #92959E;
}

.chat {
  background: #fff;
  color: #434651;
}
.chat .chat-header {
  padding: 0px 7px 5px;
  border-bottom: 2px solid #008B8B;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 15px 30px 10px;
  overflow-y: scroll; 
      max-height: 491px;
    height: 491px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  /*color: white;*/
  padding: 10px 15px;
  line-height: 26px;
  font-size: 16px;
  /*border-radius: 7px;*/
  margin-bottom: 25px;
  width: 90%;
  position: relative;
}
.chat .chat-history ul{
	list-style: none;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  border:1px solid #86BB71;
}
.chat .chat-history .other-message {
  border:1px solid #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 95%;
}

.chat .chat-history .other-message1 {border:1px solid #864062;}.chat .chat-history .other-message1:after {border-bottom-color: #864062;left: 95%;}.fa.other-message1{color: #864062;border:none !important;}
.chat .chat-history .other-message2 {border:1px solid #86BB71;}.chat .chat-history .other-message2:after {border-bottom-color: #86BB71;left: 95%;}.fa.other-message2{color: #86BB71;border:none !important;}
.chat .chat-history .other-message3 {border:1px solid #E38968;}.chat .chat-history .other-message3:after {border-bottom-color: #E38968;left: 95%;}.fa.other-message3{color: #E38968;border:none !important;}
.chat .chat-history .other-message4 {border:1px solid #EAC9D7;}.chat .chat-history .other-message4:after {border-bottom-color: #EAC9D7;left: 95%;}.fa.other-message4{color: #EAC9D7;border:none !important;}
.chat .chat-history .other-message5 {border:1px solid #F1DB9F;}.chat .chat-history .other-message5:after {border-bottom-color: #F1DB9F;left: 95%;}.fa.other-message5{color: #F1DB9F;border:none !important;}
.chat .chat-history .other-message6 {border:1px solid #E4A0B9;}.chat .chat-history .other-message6:after {border-bottom-color: #E4A0B9;left: 95%;}.fa.other-message6{color: #E4A0B9;border:none !important;}
.chat .chat-history .other-message7 {border:1px solid #F9AE91;}.chat .chat-history .other-message7:after {border-bottom-color: #F9AE91;left: 95%;}.fa.other-message7{color: #F9AE91;border:none !important;}
.chat .chat-history .other-message8 {border:1px solid #F0E3D0;}.chat .chat-history .other-message8:after {border-bottom-color: #F0E3D0;left: 95%;}.fa.other-message8{color: #F0E3D0;border:none !important;}
.chat .chat-history .other-message9 {border:1px solid #739CBA;}.chat .chat-history .other-message9:after {border-bottom-color: #739CBA;left: 95%;}.fa.other-message9{color: #739CBA;border:none !important;}
.chat .chat-history .other-message10{border:1px solid #C7B8A3;}.chat .chat-history .other-message10:after {border-bottom-color: #C7B8A3;left: 95%;}.fa.other-message10{color: #C7B8A3;border:none !important;}
.chat .chat-history .other-message11{border:1px solid #FFE3A9;}.chat .chat-history .other-message11:after {border-bottom-color: #FFE3A9;left: 95%;}.fa.other-message11{color: #FFE3A9;border:none !important;}
.chat .chat-history .other-message12{border:1px solid #B4BFB9;}.chat .chat-history .other-message12:after {border-bottom-color: #B4BFB9;left: 95%;}.fa.other-message12{color: #B4BFB9;border:none !important;}
.chat .chat-history .other-message13{border:1px solid #CDCB92;}.chat .chat-history .other-message13:after {border-bottom-color: #CDCB92;left: 95%;}.fa.other-message13{color: #CDCB92;border:none !important;}
.chat .chat-history .other-message14{border:1px solid #E6D9EB;}.chat .chat-history .other-message14:after {border-bottom-color: #E6D9EB;left: 95%;}.fa.other-message14{color: #E6D9EB;border:none !important;}
.chat .chat-history .other-message15{border:1px solid #DCD5CD;}.chat .chat-history .other-message15:after {border-bottom-color: #DCD5CD;left: 95%;}.fa.other-message15{color: #DCD5CD;border:none !important;}
.chat .chat-history .other-message16{border:1px solid #FEC99D;}.chat .chat-history .other-message16:after {border-bottom-color: #FEC99D;left: 95%;}.fa.other-message16{color: #FEC99D;border:none !important;}
.chat .chat-history .other-message17{border:1px solid #C8E9F2;}.chat .chat-history .other-message17:after {border-bottom-color: #C8E9F2;left: 95%;}.fa.other-message17{color: #C8E9F2;border:none !important;}
.chat .chat-history .other-message18{border:1px solid #9593C4;}.chat .chat-history .other-message18:after {border-bottom-color: #9593C4;left: 95%;}.fa.other-message18{color: #9593C4;border:none !important;}
.chat .chat-history .other-message19{border:1px solid #CB9998;}.chat .chat-history .other-message19:after {border-bottom-color: #CB9998;left: 95%;}.fa.other-message19{color: #CB9998;border:none !important;}
.chat .chat-history .other-message20{border:1px solid #D7E3CF;}.chat .chat-history .other-message20:after {border-bottom-color: #D7E3CF;left: 95%;}.fa.other-message20{color: #D7E3CF;border:none !important;}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.chat .chat-history .other-message4 {
  border:1px solid #EAC9D7;
}
.chat .chat-history .other-message4:after {
  border-bottom-color: #EAC9D7;
  left: 95%;
}
.fa.other-message4{
  color: #EAC9D7;
  border:none !important;
}
.me {
  color: #94C2ED;
}



.chat .chat-message {
  padding: 20px 16px 10px 16px;
}
textarea:focus{
	box-shadow: none;
	-webkit-box-shadow:none;
}
.chat .chat-message textarea {
      width: 100%;
    border: 2px solid #34AA78;
    border-radius: 4px;
    padding: 10px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  /*color: #94C2ED;*/
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
 /* background: #F2F5F8;*/
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.name {
	color: #666666;
}
.name i{
	color:#86BB71;
	font-size: 15px;
}
.topic{
	color: #F17F5f;
}
.topic i{
 color: #E38968;
 font-size: 15px;
}

.text-timing{
  color:666;
}
.letterCls{
      float: left;
    height: 36px;
    font-size: 18px;
    padding: 2px 5px;
    border: 2px solid;
    border-radius: 36px;
    line-height: 29px;
    margin: 9px;
    width: 36px;
    vertical-align: middle;
    text-align: center;
    background: #FAEBD7;
}

textarea {
  resize: none;
}
.message.other-message{
  white-space: pre-wrap;
}

.peopleListSlim .clearfix.active{
  background: #eeeeee;
  cursor: pointer;
}

.peopleListSlim .clearfix:hover{
  background: #dcdcdc;
  cursor: pointer;
}