.editForm{
	border: 1px solid #666;
	padding: 10px 5px;
    margin: 5px 0px;
}
.form-control{
	border: none !important;
    box-shadow: none;
    padding: 0px;
}
.control-label{
	font-weight: bold;
}
.col-sm-9 .control-label{
	text-align: left;
	font-weight: normal;
}

.form-group {
    margin-top: 5px;
}